<%= form_for @service, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nome", :class => "col-sm-2 control-label animed-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Nascimento", :class => "col-sm-2 control-label" %>
    <div class="col-sm-3">
      <%= f.date_select :service_date, { :start_year => Time.now.year - 10, :end_year => Time.now.year - 5, :selected => Date.today.year - 5 }, { :class => "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Descrição", :class => "col-sm-2 control-label animed-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Preço", :class => "col-sm-2 control-label animed-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price, :class => "form-control" %>
    </div>
  </div>
  <%= f.submit 'Salvar', :class => "btn btn-default btn-lg animed-btn" %>


  <% if params[:animal_id].nil? %>
    <% client = Client.find_by(id: params[:client_id]) %>
    <%= link_to (client_path(client)) do %>
      <button type="button" class="btn btn-default btn-lg animed-btn animed-btn-back">Voltar</button>
    <% end %>
  <% else %>
    <% animal = Animal.find_by(id: params[:animal_id]) %>
    <%= link_to (animal_path(animal)) do %>
      <button type="button" class="btn btn-default btn-lg animed-btn animed-btn-back">Voltar</button>
    <% end %>
  <% end %>
  
  <div class="field">
    <%= f.hidden_field :client_id, :value => params[:client_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :animal_id, :value => params[:animal_id] %>
  </div>

<% end %>
