<h1 class="animed-h1-title">Serviços</h1>

<%= form_tag services_path, :method => 'get', :class => "animed-search-field-100", :role => "form" do %>
    
  <%= text_field_tag :search, params[:search], :class => "animed-search-field", :placeholder => "Digite o nome ou data do serviço" %>

  <%= button_tag(type: "submit", class: "btn btn-default btn-lg animed-btn animed-search-btn-100") do %>
      <i class="fa fa-search"></i> <span class="animed-searc-label"> Procurar</span>
   <% end %>

<% end %>
<br></br>

<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Cliente</th>
      <th>Animal</th>
      <th class="animed-service-hide">Preço</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr class= "animed-animal-table" onclick="location.href='/services/<%= service.id %>'">
        <td><%= service.name %></td>
        <td><%= service.service_date.strftime("%d/%m/%Y") %></td>
        <td><%= service.client.name %></td>
        <% if service.animal_id.nil? %>
            <td>-</td>
          <% else %>
            <td><%= service.animal.name %></td>
          <% end %>
        <td class="animed-service-hide"><%= number_to_currency(service.price, :unit => "R$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @services %>



