<h1 class="animed-h1-title">Detalhes</h1>
</br>
<div class="well">
<p><strong>Nome:</strong> <%= @user.first_name %></p>
<p><strong>Sobrenome:</strong> <%= @user.last_name %></p>
<p><strong>Tipo:</strong> <%= @user.role %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Username:</strong> <%= @user.user_name %></p>
</div>



<%= link_to 'Usuários', users_path %> |
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Deletar', user_path(@user), :method => 'delete', :confirm => 'Tem certeza?' %>