<h1 class="animed-h1-title">Lista de Animais</h1>

<%= form_tag animals_path, :method => 'get', :class => "animed-search-field-100", :role => "form" do %>
    
  <%= text_field_tag :search, params[:search], :class => "animed-search-field", :placeholder => "Digite o nome, espécie ou raça" %>

  <%= button_tag(type: "submit", class: "btn btn-default btn-lg animed-btn animed-search-btn-100") do %>
      <i class="fa fa-search"></i> <span class="animed-searc-label"> Procurar</span>
   <% end %>

<% end %>
<br></br>

<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Dono</th>
      <th>Espécie</th>
      <th>Race</th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr class= "animed-animal-table" onclick="location.href='/animals/<%= animal.id %>'">
        <td><%= animal.id %></td>
        <td><%= animal.name %></td>
        <td><%= animal.client.name %></td>
        <td><%= animal.species %></td>
        <td><%= animal.race %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @animals %>

<br>


