<h1 class="animed-h1-title">Detalhes</h1></br>

<p id="notice"><%= notice %></p>

<div class="row well animal-card">
  <a href="<%= @animal.image_url %>">
    <div class="thumbnail col-md-4 animal-avatar col-sm-4 ">
      <% if @animal.image_url.present? %>
        <%= image_tag(@animal.image_url) %>
       <% else %>
        <%= image_tag("animal_default.jpg") %>
      <% end %>
    </div>
  </a>
  <div class="col-md-8 animal-content col-sm-8 ">
    <ul class="list-group">
      <li class="list-group-item"><strong>Nome: </strong><%= @animal.name %></li>
      <li class="list-group-item"><strong>Espécie: </strong><%= @animal.species %></li>
      <li class="list-group-item"><strong>Raça: </strong><%= @animal.race %></li>
      <li class="list-group-item"><strong>Nascimento: </strong><%= @animal.birthdate.strftime("%d/%m/%Y") %></li>
      <li class="list-group-item"><strong>Dono: </strong><%= @animal.client.name %></li>
    </ul>
  </div>

</div>

<div class="row list-group-item">
  <h4 class="list-group-item-heading">Descrição</h4>
  <p class="list-group-item-text"><%= @animal.description %></p>
</div>

</br>


<%= link_to 'Editar', { :action => 'edit', :id => @animal, :client_id => @animal.client_id } %> |
<%= link_to 'Voltar', animals_path %> |
<%= link_to 'Apagar', animal_path(@animal), method: :delete, data: { confirm: "Tem certeza que você quer apagar #{@animal.name}?"} %> 

<div class="animed-title-header">
  <div class="animed-subtitle">
    <h2>Serviços</h2>
  </div>
  <div class="animed-btn-plus">
    <%= link_to(new_service_path(:client_id => @animal.client.id, :animal_id => @animal.id)) do %>
      <span><i class="fa fa-plus"></i></span>
    <% end %>
  </div>
</div>

<% services = @animal.services.all %>
<table class ="table table-bordered ">
  <thead>
      <tr>
        <th>Nome</th>
        <th>Animal</th>
        <th>Data</th>
        <th class="animed-service-hide">Descrição</th>
        <th>Preço</th>
      </tr>
  </thead>  
  <tbody>
    <% services.each do |service| %>   
      <tr class= "animed-animal-table" onclick="location.href='/services/<%= service.id %>'">
          <td><%= service.name %></td>
          <td><%= service.animal.name %></td>
          <td><%= service.service_date.strftime("%d/%m/%Y") %></td>
          <td class="animed-service-hide"><%= service.description %></td>
          <td><%= number_to_currency(service.price, :unit => "R$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

