<p id="notice"><%= notice %></p>

<div class="animed-animal-content">
  <div class="animed-animal-avatar">
    <%= image_tag(@animal.image_url) if @animal.image_url.present? %>
  </div>
  <div class="animed-animal-info">

    <p>
    <strong>Nome:</strong>
    <%= @animal.name %>
    </p>

    <p>
    <strong>Espécie:</strong>
    <%= @animal.species %>
    </p>

    <p>
    <strong>Raça:</strong>
    <%= @animal.race %>
    </p>

    <p>
    <strong>Nascimento:</strong>
    <%= @animal.birthdate.strftime("%d/%m/%y") %>
    </p>


    <p>
    <strong>Descrição:</strong>
    <%= @animal.description %>
    </p>
  </div>
</div>
<br>




<%= link_to 'Editar', { :action => 'edit', :id => @animal, :client_id => @animal.client_id } %> |
<%= link_to 'Voltar', animals_path %> |
<%= link_to 'Apagar', animal_path(@animal), method: :delete, data: { confirm: "Tem certeza que você quer apagar #{@animal.name}?"} %> 

<div class="animed-title-header">
  <div class="animed-subtitle">
    <h2>Serviços</h2>
  </div>
  <div class="animed-btn-plus">
    <%= link_to(new_service_path(:client_id => @animal.client.id, :animal_id => @animal.id)) do %>
      <span><i class="fa fa-plus"></i></span>
    <% end %>
  </div>
</div>

<% services = @animal.services.all %>
<table class ="table table-bordered ">
  <thead>
      <tr>
        <th>Nome</th>
        <th>Animal</th>
        <th>Data</th>
        <th>Descrição</th>
        <th>Preço</th>
      </tr>
  </thead>  
  <tbody>
    <% services.each do |service| %>   
      <tr class= "animed-animal-table" onclick="location.href='/services/<%= service.id %>'">
          <td><%= service.name %></td>
          <td><%= service.animal.name %></td>
          <td><%= service.service_date.strftime("%d/%m/%y") %></td>
          <td><%= service.description %></td>
          <td><%= number_to_currency(service.price, :unit => "R$") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

