<!DOCTYPE html>
<html>
<head>
	<title>Animed</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right animed-top">
				<li>
					<a href="/users"><i class="fa fa-gear"></i></a>
				</li>
				<li>
					<a href="/logout"><i class="fa fa-sign-out"></i> Sair</a>
				</li>
			</ul>
			<div id="animed-logo">
				<h1 class="text-muted"><i class="icon-paw animed-icon"></i><span class="animad-app-title"> Animed</span></h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3 animed-menu animed-nav-menu" >
				<ul class="nav nav-pills nav-stacked">
					<li id = "clients" class="<%= 'active' if params[:controller] == 'clients' %>"><a href="/clients"><i class="fa fa-user fa-fw"></i> Clientes</a></li>
					<li id = "animals" class="<%= 'active' if params[:controller] == 'animals' %>"><a href="/animals"><i class="icon-dog"></i> Animais</a></li>
					<li id = "services" class="<%= 'active' if params[:controller] == 'services' %>"><a href="/services"><i class="fa fa-book fa-fw"></i> Serviços</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<%= yield %>
			</div>
		</div>
	</div>

</body>
</html>
